@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 28px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.slider__hero {
  position: relative;
  margin-bottom: 70px;
}
.slider__hero-slide {
  z-index: 1;
  position: relative;
  height: 700px;
  width: 700px;
}
.slider__hero-slide .slide__content.content__header {
  text-align: center;
  position: absolute;
  top: 140px;
  right: 100px;
  text-transform: uppercase;
  max-width: 400px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}
.slider__hero-slide .slide__content.content__btn {
  position: absolute;
  top: 310px;
  right: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
  height: 60px;
  background: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid #F8F1EA;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.slider__hero-slide .slide__content.content__btn:hover {
  background: #F16A50;
  border: transparent;
}
.slider__hero img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border: none;
}
.slider__hero .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.slider__hero .slick-dots button {
  width: 20px;
  height: 20px;
  background: rgba(248, 241, 234, 0.6980392157);
  border-radius: 50%;
  font-size: 0;
}
.slider__hero .slick-dots li.slick-active button {
  background: #F16A50;
}

.slider__shop {
  max-width: 1200px;
  z-index: 1;
}
.slider__shop .swiper-wrapper {
  position: relative;
  z-index: 1;
}
.slider__shop .swiper-slide {
  border: 1px solid transparent;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.slider__shop .swiper-slide .picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.slider__shop .swiper-slide:hover {
  border: 1px solid #F16A50;
  cursor: pointer;
}
.slider__shop .swiper-slide:hover .picture {
  -webkit-transform: translateY(12%) scale3d(1, 1.145, 1);
          transform: translateY(12%) scale3d(1, 1.145, 1);
}
.slider__shop .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  padding: 4px 4px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 1120px) {
  .slider__shop .status {
    width: 40%;
  }
}
.slider__shop .status.stock {
  background: #F16A50;
  color: #F8F1EA;
}
.slider__shop .status.sold {
  font-weight: 700;
}
.slider__shop .title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.slider__shop .price {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.slider__shop.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto 70px auto;
  width: 230px;
  background: transparent;
  padding: 15px 60px;
  border: 2px solid #000;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.slider__shop.btn:hover {
  border: 2px solid transparent;
  background: #F16A50;
  color: #fff;
}

.swiper-button-prev-unique,
.swiper-button-next-unique {
  background-image: url("../source/img/slider__shop/left__arr.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 5%;
  top: 33%;
  width: 40px;
  height: 72px;
  z-index: 2;
}
.swiper-button-prev-unique:hover,
.swiper-button-next-unique:hover {
  background-image: url("../source/img/slider__shop/right__arr.png");
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  cursor: pointer;
}
@media (max-width: 1400px) {
  .swiper-button-prev-unique,
.swiper-button-next-unique {
    left: 2%;
  }
}
@media (max-width: 1170px) {
  .swiper-button-prev-unique,
.swiper-button-next-unique {
    opacity: 0;
  }
}

.swiper-button-next-unique {
  position: absolute;
  left: 90%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 2;
}
.swiper-button-next-unique:hover {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
@media (max-width: 1400px) {
  .swiper-button-next-unique {
    left: 96%;
  }
}

.partners.swiper {
  max-width: 1200px;
  margin: 0 auto;
  max-height: 100px;
}
.partners.swiper .swiper-slide {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.partners.swiper .swiper-slide .picture {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.partners.swiper .swiper-slide:hover {
  cursor: pointer;
}
.partners.swiper .swiper-slide:hover .picture {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.swiper-button-prev-unique-part,
.swiper-button-next-unique-part {
  background-image: url("../source/img/slider__shop/left__arr.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 5%;
  top: 50%;
  width: 40px;
  height: 72px;
  z-index: 2;
}
.swiper-button-prev-unique-part:hover,
.swiper-button-next-unique-part:hover {
  background-image: url("../source/img/slider__shop/right__arr.png");
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  cursor: pointer;
}
@media (max-width: 1170px) {
  .swiper-button-prev-unique-part,
.swiper-button-next-unique-part {
    opacity: 0;
  }
}

.swiper-button-next-unique-part {
  position: absolute;
  left: 91%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.swiper-button-next-unique-part:hover {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

body {
  font-family: "Montserrat";
}

.header {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.header .nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .btn {
  width: 36px;
  height: 36px;
  margin: 0 15px;
}
.header .btn_search {
  background: url("../source/img/header/search__icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header .btn_profile {
  background: url("../source/img/header/profile__icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header .nav__menu .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav__menu .nav__items .nav___item {
  padding: 22px 15px;
}
.header .nav__menu .nav__items .nav___item:hover {
  background: #F16A50;
}
.header .nav__menu .nav__items .nav___item:hover .nav____link {
  color: #fff;
}
.header .nav__menu .nav__items .nav___item .nav____link {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.main .shop {
  position: relative;
  background: #F8F1EA;
}
.main .shop__title,
.main .partners__title {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.main .partners {
  background: #F8F1EA;
  position: relative;
  margin-bottom: 70px;
}

.footer {
  background: #35312D;
  padding: 35px 0 40px 0;
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 70px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__nav {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.footer__nav__logo {
  margin-bottom: 35px;
}
.footer__nav__menu .nav____link {
  color: #F8F1EA;
  font-size: 20px;
  font-weight: 500;
}
.footer__nav__menu .nav____link:hover {
  color: #F16A50;
}
.footer__contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.footer__contacts .contacts__text,
.footer__contacts .contacts__tel {
  font-weight: 500;
  color: #F8F1EA;
  font-size: 26px;
  margin-bottom: 35px;
}
.footer .footer__copy {
  padding-top: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #F8F1EA;
}