.slider__shop {
    max-width: 1200px;
    z-index: 1;

    .swiper-wrapper {
        position: relative;
        z-index: 1;
    }

    & .swiper-slide {
        border: 1px solid transparent;
        z-index: 1;
        transition: all 0.4s ease;

        & .picture {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.4s ease;
        }

        &:hover {
            border: 1px solid #F16A50;
            cursor: pointer; 
            & .picture {
                transform: translateY(12%) scale3d(1, 1.145, 1);
            }
        }
    }

    .status {
        display: flex;
        width: 30%;
        padding: 4px 4px;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        color: #000;

        @media (max-width: 1120px) {
            width: 40%;
        }

        &.stock {
            background: #F16A50;
            color: #F8F1EA;
        }

        &.sold {
            font-weight: 700;
        }
    }

    .title {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }

    .price {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
    }

    &.btn {
        display: flex;
        justify-content: center;
        margin: 50px auto 70px auto;
        width: 230px;
        background: transparent;
        padding: 15px 60px;
        border: 2px solid #000;
        text-transform: uppercase;
        transition: all 0.2s ease;

        &:hover {
            border: 2px solid transparent;
            background: #F16A50;
            color: #fff;
        }
    }
}
.swiper-button-prev-unique,
.swiper-button-next-unique {
    background-image: url("../source/img/slider__shop/left__arr.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 5%;
    top: 33%;
    width: 45px;
    height: 80px;
    z-index: 2;
    
    &:hover {
        background-image: url("../source/img/slider__shop/right__arr.png");
        transform: rotateY(-180deg);
        cursor: pointer;
    }

    @media (max-width: 1400px) {
        left: 2%;
    }

    @media (max-width: 1170px) {
        opacity: 0;
    }
}

.swiper-button-next-unique {
    position: absolute;
    left: 90%;
    transform: rotateY(180deg);
    z-index: 2;
    &:hover {
        transform: rotateY(0deg);
    }

    @media (max-width: 1400px) {
        left: 96%;
    }
}
