@import 'reset', 'slider__hero', 'slider__shop', 'slider__part';
@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700);

body {
    font-family: 'Montserrat';
}

.header {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;

    .nav__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .btn {
        width: 36px;
        height: 36px;
        margin: 0 15px;

        &_search {
            background: url("../source/img/header/search__icon.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        &_profile {
            background: url("../source/img/header/profile__icon.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    & .nav__menu {

        & .nav__items {
            display: flex;

            & .nav___item {
                padding: 22px 15px;

                &:hover {
                    background: #F16A50;

                    & .nav____link {
                        color: #fff;
                    }
                }

                & .nav____link {
                    font-weight: 500;
                    font-size: 20px;
                    color: #000;
                }
            }
        }
    }
}

.main {

    .shop {
        position: relative;
    }

    .shop__title,
    .partners__title {
        font-size: 32px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    .partners {
        position: relative;
        margin-bottom: 70px;
    }


}